<br>
<div id="amad-frame" align="center"></div>
<script type='text/javascript'>
var frame = document.createElement('iframe');
var parent =  document.getElementById("amad-frame");

var ua = navigator.userAgent;
if ((ua.indexOf('Android') > 0 && ua.indexOf('Mobile') > 0) || ua.indexOf('iPhone') > 0 || ua.indexOf('Blackberry') > 0 || ua.indexOf('iPhone') > 0){
  frame.src = "https://rcm-fe.amazon-adsystem.com/e/cm?o=9&p=12&l=ez&f=ifr&linkID=1e4fe265f9774c37fa2f116dd6cf46e3&t=reviewcom-22&tracking_id=reviewcom-22"
  frame.width = "300"
  frame.height = "250"
} else {
  frame.src = "https://rcm-fe.amazon-adsystem.com/e/cm?o=9&p=48&l=ez&f=ifr&linkID=a7a95e7eacb980708ed648dc1cadd15c&t=reviewcom-22&tracking_id=reviewcom-22";
  frame.width = "728"
  frame.height = "90"
}
frame.scrolling = "no"
frame.border = "0"
frame.marginwidth = "0"
frame.style = "border:none;"
frame.frameBorder = "0"
parent.appendChild(frame)
</script>
