{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
  <div class="pagination-bar">
    <ul class="pagination">
      {{ if .Paginator.HasPrev }}
        <li class="pagination-prev">
          <a class="btn btn--default btn--small" href="{{ .Paginator.Prev.URL }}">
            <span>{{ i18n "pagination.older_posts" }}</span>
            <i class="fa fa-angle-left text-base icon-ml"></i>
          </a>
        </li>
      {{ end }}
      {{ if .Paginator.HasNext }}
        <li class="pagination-next">
          <a class="btn btn--default btn--small" href="{{ .Paginator.Next.URL }}">
            <i class="fa fa-angle-right text-base icon-mr"></i>
            <span>{{ i18n "pagination.newer_posts" }}</span>
          </a>
        </li>
      {{ end }}
      <li class="pagination-number">{{ i18n "pagination.page" . }} {{ i18n "pagination.of" . }}</li>
    </ul>
  </div>
{{ end }}
